<ion-view view-title="  Listes des formations ">
  <ion-content>

         <ion-list>

     <h3 class="text-center lobster padding">Date des prochaines formations</h3>
      <ion-item class="item item-avatar" ng-repeat="item in list">
  

   
      <img src="{{item.img}}">
      <h2>{{item.title}}</h2>
      <p>  {{item.date}} à {{item.time}}</p>
    

   


  
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>