<ion-view view-title="Contact">
  <ion-content>

     <h3 class="text-center lobster padding">Contactez votre formateur </h3>
   <ion-item class="item item-avatar" >
          <img src="img/ben.png">
      <h2>Paul Dupont</h2>
      <p>Formateur Multilingua </p>
          <p>Spécialité Anglais </p>
          </ion-item>
     <div class="list padding">
     
      
  <div class="item item-button-right">   Appeller    <button class="button button-dark" ng-click="call()"><i class="icon ion-ios-telephone"></i>    </button> </div>
    <div class="item item-button-right">   Ajouter à mes contacts    <button class="button button-calm" ng-click="addContact()"><i class="icon ion-ios-contact"></i>    </button> </div>
    <div class="item item-button-right">   Envoyer un email    <a class="button button-dark" href="mailto:paul@multilingua.com"><i class="icon ion-ios-email"></i>    </a></div>
   <div class="item item-button-right">   Envoyer un sms    <a class="button button-calm" href="sms:123456789"><i class="icon ion-ios-email"></i>    </a>

  </div>
           </div>
  </ion-content>
</ion-view>
