<ion-view view-title="Exercice" cache-view="false" ng-controller="ExercicesDetailCtrl">
  <ion-content>
    <ion-list ng-model="exo" >

      <div class="list card">
        <div class="item item-divider">
          <h2 class="text-bold text-center lobster">Exercice n°{{ iExo + 1 }} </h2>
        </div>

        <div class="item item-body">
          <p>Traduisez la phrase ou le mot en anglais. </p>
          <p><b>{{ exo.mot }}</b></p>
          <img class="full-image" src="{{exo.img}}">
          <div>
            <form name="form" ng-submit="createReponse(reponse)" >
              <div class="list">
                <label class="item item-input card">
            <input type="text" placeholder="Traduction" ng-value="reponse" name="reponse" ng-model="reponse" >
          </label>
                <div class="padding">
                  <button class="button button-block button-calm">Valider</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ion-list>
  </ion-content>
</ion-view>