<ion-view view-title="Multilingua">
  <ion-content class="padding">
      
     
        <h1 class="text-center text-dark lobster" >Multilingua</h1>


       <p class="text-center">L'apprentissage des langues facile !</p>
       <img class="full-image" src="img/fond.jpg">
    <p>
     Chaque jour, vous pouvez suivre une leçon et réaliser des exercices.
    </p>

    <a  class="button button-block button-dark icon-right ion-chevron-right " href="#/tab/cours">
 Commencer le cours
</a>
    <p>
  Vous pouvez également contactez votre formateur et consultez les dates des prochaines formations.
    </p>
 




   <button class="button button-block button-calm icon-right ion-chevron-right " href="#/tab/date">
 Consulter les prochaines dates
</button>
  </ion-content>
</ion-view>
