<ion-view view-title="Exercices" >
  <ion-content>
  <ion-list ng-model="point">


     <h3 class="text-center lobster padding">Exercices </h3>
   <div class="list card">

  <div class="item">
  <div class="row">
    <div class="col col-25 text-bold"> Thème : </div>
<div class="col col-75">{{cours.description}} </div>
  </div>
<div class="row">

<div class="col col-50"> Score  : {{score}}/5 </div>
<div class="col col-50"><div ng-bind-html="star"></div> </div>
</div>
<div class="">
  <p > {{statut}} </p>
    <p > {{message}} </p>

</div>
  </div>

  <div class="item item-body">
  <div class="row">

<div class=""> Consignes : </div>  </div>
<p>
   Chaque jour, vous devez répondre à une suite de 5 exercices, les 4 premiers se portent sur le cours du jour, et le dernier est un exercice de rappel d'un cours précédent.
 </p>
       <img class="full-image" src="img/exercice.jpg">
<p>

</p>
<div ng-bind-html="button"></div> 

       
        <a  class="button button-block button-dark icon-left ion-chevron-left " href="#/tab/cours">
Retour vers la leçon 
</a> 
 </div></div>


  </ion-list>

  </ion-content>
</ion-view>
