<ion-view view-title="Cours">
  <ion-content>
  <ion-list ng-model="randomItem" >

   
 
      <h3 class="text-center lobster padding">{{randomItem.description}}</h3>

 <ion-list ng-repeat="item in randomItem.cours" >

<ion-item class="item item-thumbnail-left" >
    <img src="{{item.img}}">
      <h2><b>{{item.trad}}</b></h2>

    <p >  {{item.mot}}</p>
   </ion-item>

    </ion-list>
<div class="padding">
       


        <a  class="button button-block button-calm icon-right ion-chevron-right " href="#/tab/cours/{{randomItem.id}}/">
Accéder aux exercices
</a>

 </div>
    </ion-list>
  </ion-content>
</ion-view>
