<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-white tabs-dark">

  <!-- Home Tab -->
  <ion-tab title="Accueil" icon-off="ion-ios-home" icon-on="ion-ios-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Contact Tab -->
  <ion-tab title="Contact" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/message">
    <ion-nav-view name="tab-message"></ion-nav-view>
  </ion-tab>

  <!-- Cours Tab -->
  <ion-tab title="Leçon" icon-off="ion-ios-book-outline" icon-on="ion-ios-book" href="#/tab/cours">
    <ion-nav-view name="tab-cours"></ion-nav-view>
  </ion-tab>

<!-- Date Tab -->
  <ion-tab title="Prochaines dates" icon-off="ion-ios-calendar-outline" icon-on="ion-ios-calendar" href="#/tab/date">
    <ion-nav-view name="tab-date"></ion-nav-view>
  </ion-tab>

</ion-tabs>
