/* Empty. Add your own CSS if you like */
.bar-royal, .button-calm{background-color: #0cb1c7 !important;}
.logo {height:60px; float:left; }
.text-dark{color: #444; font-weight: bold;}
.text-bold{font-weight: bold;}
.icon-energized{color:#ffc900;}
.lobster{font-family: 'Lobster', cursive;}
.text-blue{color: #0cb1c7;}
h2.lobster{ font-size:1.4em;}
.hidden{display:none; visibility: hidden;
}